<html>
  <head>
    <title>
      RSVP site
    </title>
    <script>
    </script>
    <style type="text/css">
.guest {
  margin-left: 20px;
}
    </style>
  <head>
  <body>
    <p>Thank you for letting us know if you'll be at our ceremony on September 15!</p>
    <p>Unfortuanately, this is still a work in progress; if you have any issues or special needs that aren't yet addressed, you can try again in a couple days (but before August 24!), <a href="mailto:us@kellyandevan.party">e-mail us</a>, use the general "comments" field at the end, or use the paper RSVP card you should have received with your invitation.</p>
    <p>To get started, enter your last name to search for your party</p>
    <form id="form" action="/rsvp/search" method="POST">
      <p>Last name: <input type="text" name="lastname"/><p>
      <input type="submit" value="Search"></input>
    </form>
  </body>
</html>
