<html>
  <head>
    <title>
      RSVP site
    </title>
    <script>
      
    </script>
  <head>
  <body>
    <form id="form">
      <p>First name: <input type="text" name="firstname" /></p>
      <p>Last name: <input type="text" name="lastname" /></p>
      <p>Attending: <input type="checkbox" name="attending" /></p>
      <p>Food choice:
        <input type="radio" name="food" value="duck">Duck</input>
        <input type="radio" name="food" value="fish">Fish</input>
        <input type="radio" name="food" value="vegetarian">Vegetarian Surprise</input>
      </p>
      <button>
    </form>
  </body>
</html>
