<html>
  <head>
    <title>
      RSVP site
    </title>
    <script>
    </script>
    <style type="text/css">
.guest {
  margin-left: 20px;
}
    </style>
  <head>
  <body>
    <form id="form" action="/submit" method="POST">
      <p>Guest 1:</p>
      <div class="guest">
        <p>First name: <input type="text" name="firstname1" /></p>
        <p>Last name: <input type="text" name="lastname1" /></p>
        <p>Attending: <input type="checkbox" name="attending1" /></p>
        <p>Food choice:
          <input type="radio" name="food1" value="duck">Duck</input>
          <input type="radio" name="food1" value="fish">Fish</input>
          <input type="radio" name="food1" value="vegetarian">Vegetarian Surprise</input>
        </p>
      </div>
      <p>Guest 2:</p>
      <div class="guest">
        <p>First name: <input type="text" name="firstname2" /></p>
        <p>Last name: <input type="text" name="lastname2" /></p>
        <p>Attending: <input type="checkbox" name="attending2" /></p>
        <p>Food choice:
          <input type="radio" name="food2" value="duck">Duck</input>
          <input type="radio" name="food2" value="fish">Fish</input>
          <input type="radio" name="food2" value="vegetarian">Vegetarian Surprise</input>
        </p>
      </div>
      <input type="submit" value="RSVP"></input>
    </form>
  </body>
</html>
