<html>
  <head>
    <title>
      RSVP site
    </title>
    <script>
    </script>
    <style type="text/css">
.guest {
  margin-left: 20px;
}
    </style>
  <head>
  <body>
    <p>Please give us the following information about each member of your party:</p>
    <form id="form" action="/rsvp/submit" method="POST">
      {*guest_inputs*}
      {*plus1_input*}
      <p>Additional comments (children, accessibility, etc.):</p>
      <p><textarea name="comments"></textarea></p>
      <input type="submit" value="RSVP"></input>
    </form>
  </body>
</html>
